/*	This should be a json file and be read on program launch
	making it possible to change config without rebuilding the code

*/

package main

//This is the database connectionString
var connectionString = "username:password@(serverip:port)/database"

//This is the discord connection token
var DiscToken = "exampleToken"

//This is the first message shown when !commands are used
var commandText = "test"
